/pinyougou-common/target
/pinyougou-content-interface/target
/pinyougou-content-service/target
/pinyougou-dao/target
/pinyougou-manager-web/target
/pinyougou-page-interface/target
/pinyougou-page-service/target
/pinyougou-page-web/target
/pinyougou-pojo/target
/pinyougou-portal-web/target
/pinyougou-search-interface/target
/pinyougou-search-service/target
/pinyougou-search-web/target
/pinyougou-sellergoods-interface/target
/pinyougou-sellergoods-service/target
/pinyougou-shop-web/target
/pinyougou-solr-util/target
/pinyougou-parent.iml
