<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>商品分类管理</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../plugins/select2/select2.css" />
<link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
<script type="text/javascript" src="../plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular.min.js">
	
</script>

<script type="text/javascript" src="../js/base.js">
	
</script>
<script type="text/javascript" src="../js/angular-select2.js"></script>
<script type="text/javascript" src="../js/service/itemCatService.js">
	
</script>
<script type="text/javascript"
	src="../js/service/typeTemplateService.js">
	
</script>
<script type="text/javascript" src="../js/controller/baseController.js">
	
</script>
<script type="text/javascript"
	src="../js/controller/itemCatController.js">
	
</script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou"
	ng-controller="itemCatController"
	ng-init="findByParentId(0);selectOptionList()">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">商品分类管理</h3>
	</div>

	<div class="box-body">
		<ol class="breadcrumb">
			<li><a href="#" ng-click="grade=1;selectList({id:0});emptySelect()">顶级分类列表</a>
			</li>
			<li ng-if="entity_1!=null"><a href="#"
				ng-click="grade=2;selectList(entity_1);emptySelect()">{{entity_1.name}}</a></li>
			<li ng-if="entity_2!=null"><a href="#"
				ng-click="grade=3;selectList(entity_2);emptySelect()">{{entity_2.name}}</a></li>
		</ol>

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#editModal" ng-click="entity={};emptySelect()">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="删除" ng-click="dele()">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-check"></i> 刷新
						</button>
	<!-- {{selectIds}} -->
					</div>
				</div>
			</div>


			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input
							type="checkbox" class="icheckbox_square-blue"
							ng-click="selectAll()" id="selall"></th>
						<th class="sorting_asc">分类ID</th>
						<th class="sorting">分类名称</th>
						<th class="sorting">类型模板ID</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in list">
						<td><input type="checkbox" name="as" ng-click="updateSelection($event,entity.id)"></td>
						<td>{{entity.id}}</td>
						<td>{{entity.name}}</td>
						<td>{{entity.typeId}}</td>
						<td class="text-center"><span ng-if="grade!=3">
								<button type="button" class="btn bg-olive btn-xs"
									ng-click="setGrade(grade+1);selectList(entity);emptySelect()">查询下级</button>
						</span>
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal"
								ng-click="findOne(entity.id)">修改</button></td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->


	</div>
	<!-- /.box-body -->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">商品分类编辑</h3>
				</div>
				<div class="modal-body">

					<table class="table table-bordered table-striped" width="800px">
						<tr>
							<td>当前商品分类</td>
							<td>顶级分类列表 <span ng-if="entity_1.name!=null">
									>>{{entity_1.name}} </span> <span ng-if="entity_2.name!=null">
									>>{{entity_2.name}} </span>
							</td>
						</tr>
						<tr>
							<td>商品分类名称</td>
							<td><input class="form-control" placeholder="商品分类名称"
								ng-model="entity.name"></td>
						</tr>
						<tr>
							<td>类型模板</td>
							<td>
								 <select select2 ng-model="entity.typeId" class="form-control" placeholder="商品类型模板">
					                    <option value="{{ item.id }}" ng-repeat="item in typeTemplate">{{ item.text }}</option>
                				</select>
							</td>
						</tr>
					</table>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true" ng-click="save()">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>